<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    
    <!-- Add html for homepage here -->
<div class="container">
    <div>
        <div>
            <H1>The #1 <span class="pink">self care</span> wellbeing business directory in Christchurch</H1>
            <p>Take a moment and connect with local services to elevate your lifestyle.</p>
            <form>

            </form>
        </div>
        <img src="/img/" alt="">
    </div>
    <div>
        <h2>Let's find your missing piece...</h2>
        <div>
            <h3>Christchurch Health & Wellness Businesses</h3>
            <p>Look after your wellbeing by adding more of a health and wellness emphasis to your routine.</p>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/wellness/massage">
                    <img src="/img/activities/massage.webp" alt="photo of Massage in Auckland">
                    <div>
                        <h5>Massage</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/wellness/sauna-plunge">
                    <img src="/img/activities/sauna-plunge.webp" alt="photo of Sauna & Plunge in Auckland">
                    <div>
                        <h5>Sauna & Plunge</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/wellness/physio">
                    <img src="/img/activities/physio.webp" alt="photo of Physio in Auckland">
                    <div>
                        <h5>Physio</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/wellness/counselling">
                    <img src="/img/activities/counselling.webp" alt="photo of Counselling in Auckland">
                    <div>
                        <h5>Counselling</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/wellness/meditation">
                    <img src="/img/activities/meditation.webp" alt="photo of Meditation in Auckland">
                    <div>
                        <h5>Meditation</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/wellness/social-clubs">
                    <img src="/img/activities/social-clubs.webp" alt="photo of Social Clubs in Auckland">
                    <div>
                        <h5>Social Clubs</h5>
                    </div>
                </a>
            </div>            
        </div>
    </div>
    <div>
        <div>
            <h3>Christchurch Fitness Businesses</h3>
            <p>Feel better on the inside, look healthier on the outside – connect with a local Christchurch fitness business to elevate your wellbeing.</p>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/fitness/gym">
                    <img src="/img/activities/gym.webp" alt="photo of Gym in Auckland">
                    <div>
                        <h5>Gym</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/fitness/yoga">
                    <img src="/img/activities/yoga.webp" alt="photo of Yoga in Auckland">
                    <div>
                        <h5>Yoga</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/fitness/martial-arts">
                    <img src="/img/activities/martial-arts.webp" alt="photo of Martial Arts in Auckland">
                    <div>
                        <h5>Martial Arts</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/fitness/pilates">
                    <img src="/img/activities/pilates.webp" alt="photo of Pilates in Auckland">
                    <div>
                        <h5>Pilates</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/fitness/crossfit">
                    <img src="/img/activities/crossfit.webp" alt="photo of CrossFit in Auckland">
                    <div>
                        <h5>CrossFit</h5>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
    <div>
        <div>
            <h3>Christchuch Beauty Business</h3>
            <p>Chch beauty businesses to help make you look as great as you feel. </p>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/beauty/tanning">
                    <img src="/img/activities/tanning.webp" alt="photo of Tanning in Auckland">
                    <div>
                        <h5>Tanning</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/beauty/beauty-therapists">
                    <img src="/img/activities/beauty-therapists.webp" alt="photo of Beauty Therapists in Auckland">
                    <div>
                        <h5>Beauty Therapists</h5>
                    </div>
                </a>
            </div>
            <div class="col col-lg-4 col-sm-6">
                <a href="/directory/beauty/barbers">
                    <img src="/img/activities/barbers.webp" alt="photo of Barbers in Auckland">
                    <div>
                        <h5>Barbers</h5>
                    </div>
                </a>
            </div>            
        </div>
    </div>
    <div>
        <div>
            <h2>Found a health, beauty & wellness gem?</h2>
            <p>Spread the word and help lift up others in chch.</p>
            <form>

            </form>
        </div>
    </div>
</div>
    

    <!-- Add html for homepage above -->

    {{- partial "footer.html" . -}}
    
    
</body>

</html>