<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    
    <!-- Add html for page here -->
<div class="container">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/directory">Directory</a></li>
            <li><a href="/directory/wellness/">Wellness</a></li>
            <li>Massage</li>
        </ul>
    </div>
    <div class="row">
        <div class="col col-lg-7">
            <H1>Get a relaxing Christchurch <span class="pink">Massage</span> to help you unwind.</H1>
            <p>Check out the best massage therapists Christchurch has to offer.</p>
        </div>
    </div>
    <div class="row listings">
        <form>

        </form>
            <div class="col-lg-4 col-med-6 col-sm-6 col-xs-12">
                <div class="listing">
                        <a href="/directory/wellness/massage/o-studio">
                            <img src="/img/wellness/o-studio.webp" alt="photo of o studio christchurch massage">
                            <div class="listing-label">
                                <h5>O-Studio</h5>
                                <p>Locations in Rolleston &amp; CHCH City</p>
                                <img src="/img/stars/45.webp" alt="4 and a half stars chch massage rating">
                            </div>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-med-6 col-sm-6 col-xs-12">
                <div class="listing">
                    <a href="/directory/wellness/massage/riccarton-massage">
                        <img src="/img/wellness/riccarton-massage.webp" alt="riccarton massage in christchurch photo">
                        <div class="listing-label">
                            <h5>Riccarton Massage</h5>
                            <p>44 Riccarton Road</p>
                            <img src="/img/stars/3.webp" alt="3 and a half stars christchurch massage">
                            
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-med-6 col-sm-6 col-xs-12">
                <div class="listing">
                    <a href="/directory/wellness/massage/bobby-massage">
                        <img src="/img/wellness/bobby-massage.webp" alt="christchurch massage, bobby photo">
                        <div class="listing-label">
                            <h5>Bobby Massage</h5>
                            <p>29 Avonhead st, Christchurch</p>
                            <img src="/img/stars/5.webp" alt="5 star bobby masseuss christchurch massage">
                            
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-med-6 col-sm-6 col-xs-12">
                <div class="listing">
                    <a href="/directory/wellness/massage/o-studio">
                        <img src="/img/wellness/o-studio.webp" alt="photo of o studio christchurch massage">
                        <div class="listing-label">
                            <h5>O-Studio</h5>
                            <p>Locations in Rolleston &amp; CHCH City</p>
                            <img src="/img/stars/4.webp" alt="4 and a half stars chch massage rating">
                            
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-med-6 col-sm-6 col-xs-12">
                <div class="listing">
                    <a href="/directory/wellness/massage/riccarton-massage">
                        <img src="/img/wellness/riccarton-massage.webp" alt="riccarton massage in christchurch photo">
                        <div class="listing-label">
                            <h5>Riccarton Massage</h5>
                            <p>44 Riccarton Road</p>
                            <img src="/img/stars/35.webp" alt="3 and a half stars christchurch massage">
                            
                        </div>
                    </a>
                </div>
            </div>
            <div>
        </div>
               
        
    </div>
    </div>
    <div class="row wide final-cta">
        <div class="row text-center">
            <h2>Found a health, beauty & wellness gem?</h2>
            <p>Spread the word and help lift up others in chch.</p>
            <a href="/review/" class="btn btn-primary">Submit a Review</a>
           </div>
    </div>
    
</div>
    <!-- Add html for page above -->

    {{- partial "footer.html" . -}}
    
    <script src="/static/js/global.js"></script>
</body>

</html>