<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    
    <!-- Add html for page here -->
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/directory">Directory</a></li>
                <li><a href="/directory/wellness/">Wellness</a></li>
                <li><a href="/directory/wellness/massage">Massage</a></li>
                <li>O-Studio</li>
            </ul>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h1>Company Name</h1>
                    <h3>A quick sub-heading summarising them</h3>
                    <p>Here’s a brief blurb explaining the company and what
                            They offer in only a short paragraph. Very short and to the
                            Point explaining features and benefits to the audience.</p>
                    <div>
                        <img style="width: 150px;" src="/img/stars/45.webp" alt="4 and a half star rating company name christchurch massage business">
                        <p class="pink">4.7 (117)</p>
                        <a href="/review">Write a Review!</a>
                    </div>
                </div>
                <div>
                    <ul>
                        <li>646 Springs Road, Prebbleton.</li>
                        <li><a href="">Get Directions</a></li>
                        <li><a href="tel:0274411192">0274411192</a></li>
                        <li><a href="ostudio.co.nz" class="btn btn-primary">Visit Website</a></li>
                        <li><a href="instagram.com" class="btn btn-secondary">View Instagram</a></li>
                    </ul>
                </div>
            </div>
                <img class="col" src="/img/wellness/ostudio/o-studio-main.webp" alt="">
            
        </div>
        <div class="row">
            <div class="col">
                <h2>Company name details</h2>
                <ul>
                    <li>Straight Shaves</li>
                    <li>Straight Shaves</li>
                    <li>Straight Shaves</li>
                    <li>Straight Shaves</li>
                    <li>Straight Shaves</li>
                    <li>Straight Shaves</li>
                </ul>
                <a href="">Show More</a>
            </div>
            <div class="col">
                <ul>
                    <li>Founded in 2020</li>
                    <li>Headquarters in Christchurch</li>
                    <li>Locations in Christchurch, Queenstown, Auckland</li>
                    <li>Price $$$</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2>The inside scoop on {company name}</h2>
            <h4>Latest Reviews</h4>
            <div class="col">
                <p>This is a quick review left by a customer
                    From the company at their most recent
                    Visit. They think it’s good.</p>   
                <p><strong>- Persons Name</strong></p>
                <img style="width: 150px;" src="/img/stars/5.webp" alt="">
            </div>
            <div class="col">
                <p>This is a quick review left by a customer
                    From the company at their most recent
                    Visit. They think it’s good.</p>   
                <p><strong>- Persons Name</strong></p>
                <img style="width: 150px;" src="/img/stars/5.webp" alt="">
            </div>
            <div class="col">
                <p>This is a quick review left by a customer
                    From the company at their most recent
                    Visit. They think it’s good.</p>   
                <p><strong>- Persons Name</strong></p>
                <img style="width: 150px;" src="/img/stars/5.webp" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col" style="border-right:1px solid gray;">
                <h3>Pros</h3>
                <ul>
                    <li>This is a good thing</li>
                    <li>Here’s another goodie</li>
                    <li>Finally yet another great one.</li>
                </ul>
            </div>
            <div class="col">
                <h3>Cons</h3>
                <ul>
                    <li>Here’s a bad thing</li>
                    <li>Another bad thing from reviews</li>
                    <li>Yet another baddie</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <img class="col" src="/img/wellness/ostudio/o-studio-grid.webp" alt="ostudio grid">
            <div class="col">
                <h2>{company name} in the wild.</h2>
                <p>Take a moment and connect with local services to elevate your lifestyle. </p>
                <ul>
                    <li>646 Springs Road, Prebbleton.</li>
                    <li><a href="">Get Directions</a></li>
                    <li><a href="tel:0274411192">0274411192</a></li>
                    <li><a href="ostudio.co.nz" class="btn btn-primary">Visit Website</a></li>
                    <li><a href="instagram.com" class="btn btn-secondary">View Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2>Popular Comparisons</h2>
            <div class="col">
                <img src="" alt="">
                <h4>competitor name</h4>
                <img style="width: 150px;" src="/img/stars/5.webp" alt="">
                <p class="pink">4.8(118)</p>
                <ul>
                    <li>Feature 1</li>
                    <li>This is a longer feature name</li>
                    <li>Short feature name</li>
                    <li>This is another long feature name</li>
                    <li>Kinda short feature</li>
                </ul>
                <p>Price: $$$</p>
            </div>
            <div class="col">
                <img src="" alt="">
                <h4>competitor name</h4>
                <img style="width: 150px;" src="/img/stars/5.webp" alt="">
                <p class="pink">4.8(118)</p>
                <ul>
                    <li>Feature 1</li>
                    <li>This is a longer feature name</li>
                    <li>Short feature name</li>
                    <li>This is another long feature name</li>
                    <li>Kinda short feature</li>
                </ul>
                <p>Price: $$$</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row wide final-cta">
        <div class="row text-center">
            <h2>Found a health, beauty & wellness gem?</h2>
            <p>Spread the word and help lift up others in chch.</p>
            <a href="/review/" class="btn btn-primary">Submit a Review</a>
           </div>
    </div>

    



    <!-- Add html for page above -->

    {{- partial "footer.html" . -}}
    
    
</body>

</html>