<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    
    <!-- Add html for homepage here -->
<div class="container">
    <div class="row align-items-center">
        <div class="col col-lg-4 col-med-4 col-sm-12 ">
            <H1>Christchurch <span class="pink">Self Care</span>  Directory</H1>
            <p class="display">Take a moment and connect with local services to elevate your lifestyle.</p>
            <a href="/directory/" class="btn btn-primary">Get Started</a>
        </div>
        <img src="/img/home/self-care.webp" alt="" class="col col-lg-7 col-med-7 col-sm-12">
    </div>
    <div class="row text-center">
        <h2>Let's find your missing piece...</h2>
        <div class="row listings">
             <h3>Christchurch Health & Wellness Businesses</h3>
            <p>Look after your wellbeing by adding more of a health and wellness emphasis to your routine.</p>
            <div class="col-lg-4 col-sm-6"><div class="listing">
                <a href="/directory/wellness/massage">
                    <img src="/img/home/massage.webp" alt="photo of Massage in Auckland">
                    <div class="listing-label">
                        <p>Massage</p>
                    </div>
                </a>
            </div>
            </div><div class="col-lg-4 col-sm-6"><div class="listing">
                 <a href="/directory/wellness/sauna-plunge">
                    <img src="/img/home/sauna-plunge.webp" alt="photo of Sauna & Plunge in Auckland">
                    <div class="listing-label">
                        <p>Sauna & Plunge</p>
                    </div>
                </a>
            </div>
            </div><div class="col-lg-4 col-sm-6"><div class="listing">
                <a href="/directory/wellness/physio">
                    <img src="/img/home/physio.webp" alt="photo of Physio in Auckland">
                    <div class="listing-label">
                        <p>Physio</p>
                    </div>
                </a>
            </div>
            </div><div class="col-lg-4 col-sm-6"><div class="listing">
                <a href="/directory/wellness/counselling">
                    <img src="/img/home/counselling.webp" alt="photo of Counselling in Auckland">
                    <div class="listing-label">
                        <p>Counselling</p>
                    </div>
                </a>
            </div>
            </div><div class="col-lg-4 col-sm-6"><div class="listing">
                <a href="/directory/wellness/meditation">
                    <img src="/img/home/meditation.webp" alt="photo of Meditation in Auckland">
                    <div class="listing-label">
                        <p>Meditation</p>
                    </div>
                </a>
            </div>
            </div><div class="col-lg-4 col-sm-6"><div class="listing">
                <a href="/directory/wellness/social-clubs">
                    <img src="/img/home/social.webp" alt="photo of Social Clubs in Auckland">
                    <div class="listing-label">
                        <p>Social Clubs</p>
                    </div>
                </a>
            </div>            
        </div></div>
        <div class="row listings">
            <h3>Christchurch Fitness Businesses</h3>
            <p>Feel better on the inside, look healthier on the outside – connect with a local Christchurch fitness business to elevate your wellbeing.</p>
            <div class="col-lg-4 col-sm-6 col-xs-6"><div class="listing">
                <a href="/directory/fitness/gym">
                    <img src="/img/home/gym.webp" alt="photo of Gym in Auckland">
                    <div class="listing-label">
                        <p>Gym</p>
                    </div>
                </a>
            </div>
            </div><div class="col-lg-4 col-sm-6 col-xs-6"><div class="listing">
                <a href="/directory/fitness/yoga">
                    <img src="/img/home/yoga.webp" alt="photo of Yoga in Auckland">
                    <div class="listing-label">
                        <p>Yoga</p>
                        </div>
                    </a>
                </div>
                </div><div class="col-lg-4 col-sm-6"><div class="listing">
                    <a href="/directory/fitness/martial-arts">
                        <img src="/img/home/martial-arts.webp" alt="photo of Martial Arts in Auckland">
                        <div class="listing-label">
                            <p>Martial Arts</p>
                        </div>
                    </a>
                </div>
                </div><div class="col-lg-4 col-sm-6"><div class="listing">
                    <a href="/directory/fitness/pilates">
                        <img src="/img/home/pilates.webp" alt="photo of Pilates in Auckland">
                        <div class="listing-label">
                            <p>Pilates</p>
                        </div>
                    </a>
                </div>
                </div><div class="col-lg-4 col-sm-6"><div class="listing">
                    <a href="/directory/fitness/crossfit">
                        <img src="/img/home/crossfit.webp" alt="photo of CrossFit in Auckland">
                        <div class="listing-label">
                            <p>CrossFit</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row listings">
                <h3>Christchuch Beauty Business</h3>
                <p>Chch beauty businesses to help make you look as great as you feel. </p>
                </div><div class="col-lg-4 col-sm-6"><div class="listing">
                    <a href="/directory/beauty/tanning">
                        <img src="/img/home/tanning.webp" alt="photo of Tanning in Auckland">
                        <div class="listing-label">
                            <p>Tanning</p>
                        </div>
                    </a>
                </div>
                </div><div class="col-lg-4 col-sm-6"><div class="listing">
                    <a href="/directory/beauty/beauty-therapists">
                        <img src="/img/home/beauty-therapists.webp" alt="photo of Beauty Therapists in Auckland">
                        <div class="listing-label">
                            <p>Beauty Therapists</p>
                        </div>
                    </a>
                </div>
                </div><div class="col-lg-4 col-sm-6"><div class="listing">
                    <a href="/directory/beauty/barbers">
                        <img src="/img/home/barbers.webp" alt="photo of Barbers in Auckland">
                        <div class="listing-label">
                            <p>Barbers</p>
                        </div>
                    </a>
                </div>            
            </div>
        </div>
</div>
</div>
<div class="row wide final-cta">
    <div class="row text-center">
        <h2>Found a health, beauty & wellness gem?</h2>
        <p>Spread the word and help lift up others in chch.</p>
        <a href="/review/" class="btn btn-primary">Submit a Review</a>
       </div>
</div>
    

    <!-- Add html for homepage above -->

    {{- partial "footer.html" . -}}
    
    
</body>

</html>